<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whatsonsalon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WhatsOnSalon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsOnSalon">
        <activity
            android:name=".SelezionaSlotAppuntamento"
            android:exported="false"
            android:parentActivityName=".AggiungiAppActivity" />
        <activity
            android:name=".AggiungiAppActivity"
            android:exported="false"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>